.layout {
    display: grid;
    grid-template-columns: 100%;
}

.info-container {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.info-links ul {
    display: flex;
    gap: 1rem;
}