@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

.layout {
    margin-top: 1rem;
}
.header-container {
    /* font-family: 'Istok Web', sans-serif; */
    display: flex;
    color: white;
    align-items: baseline;
    gap: 2rem;
    margin-left: 2rem;
}

.my-name {
    color: var(--color-yellow);
    font-size: 6rem;
    font-weight: lighter;
    line-height: 7rem;
    height: 29;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 1rem;
}

.body-container ul {
    justify-content: left;
}

h2 {
    text-align: left;
    font-weight: lighter;
    font-size: 2rem;
    color: var(--color-yellow);
    margin-top: 1rem;
}