.emailForm-container {
    display: flex;
    justify-content: left;
}
.emailForm {
    display: flex;
    width: 40%;
    max-width: 30rem;
    flex-direction: column;
    gap: .5rem;
}

.emailForm input, textarea {
    border-radius: 0;
    border-width: 1px;
    border-color: var(--color-black);
    padding: 5px;
}

.btn-submit {
    width: 40%;
    align-self: center;
}